:root {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  color: rgb(16, 121, 107);
}

#scoreContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: aquamarine;
  justify-content: center;
}

#score {
  font-size: 40px;
  font-style: bold;
  padding-left: 50px;
}
